{% extends 'base.html.twig' %}

{% block title %}Paragraph{% endblock %}

{% block body %}
    <h1>Paragraph</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ paragraph.id }}</td>
            </tr>
            <tr>
                <th>TextID</th>
                <td>{{ paragraph.textID }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_paragraph_index') }}">back to list</a>

    <a href="{{ path('app_paragraph_edit', {'id': paragraph.id}) }}">edit</a>

    {{ include('paragraph/_delete_form.html.twig') }}
{% endblock %}
