{% extends 'base.html.twig' %}

{% block body %}
    <main class="about">
        <div class="about__banner">
            <div class="headings">
                {{ headings.about_banner.name|raw }}
            </div>
        </div>
        <section class="me">
            <h1>{{ paragraphs.about_me.title }}</h1>
            <img src="{{ asset('images/ahmedosman-portrait.jpg') }}" alt="Ahmed Osman Photo">
            <p>{{ paragraphs.about_me.description|nl2br }}</p>
        </section>
        <section class="intentions">
            <h1>{{ paragraphs.my_intentions.title }}</h1>
            <p>{{ paragraphs.my_intentions.description }}</p>
        </section>
        <section class="skills">
            <h1>{{ headings.skills.name }}</h1>

            <h2>{{ headings.tools.name }}</h2>
            <div class="tools">

                {% for tool in tools %}
                    <div class="circle">
                        <div class="circle__content">
                            <span>{{ tool.name }}</span>
                            <img src="{{ tool.imgSrc }}" alt="{{ tool.name }}">
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% for timelineCategory in timelineCategories %}
                <h2>{{ timelineCategory.name }}</h2>

                <div class="timelines">
                    {% for timeline in timelineCategory.timelines %}
                        <div class="timeline">
                            <div class="timeline__date">{{ timeline.dateRange }}</div>
                            <div class="timeline__titles">
                                <div class="timeline__title">{{ timeline.title }}</div>
                                <div class="timeline__subtitle">{{ timeline.subtitle }}</div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
            <h2>{{ headings.credentials.name }}</h2>
            {% for credential in credentials %}
                <div class="credential">
                    <div class="credential__description">{{ credential.description|nl2br }}</div>
                    <div class="credential__author">{{ credential.author }}</div>
                </div>
            {% endfor %}
        </section>
    </main>
{% endblock %}