{% extends 'base.html.twig' %}

{% block body %}
    <main class="portfolio">
        <h1>{{ headings.my_projects.name }}</h1>
        <section class="projects">
            {% for project in projects %}
                <div class="project">
                    <div class="project__content">
                        <h2 class="project__subtitle">{{ project.translate(locale).subtitle|raw }}</h2>
                        <h3 class="project__title">{{ project.translate(locale).title }}</h3>
                        <div class="project__short_description">{{ project.translate(locale).shortDescription }}</div>
                    </div>
                    <div class="project__button">
                        <button class="project__check-btn btn-mediumpurple">{{ headings.portfolio_check.name }}</button>
                    </div>
                </div>
            {% endfor %}
        </section>
    </main>
{% endblock %}

