{% set locale = app.request.locale %}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ahmedosman.dev</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon/favicon-16x16.png') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {{ encore_entry_script_tags('mobile_menu') }}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<div class="page_wrapper">
    <div class="menu_mobile">
        {% include 'mobile/menu_mobile.html.twig' %}
    </div>

    <header>
        <div class="nav__main">
            <a href="{{ path('homepage') }}">ahmedosman.dev</a>
            <span class="nav__languages">
        {% if locale == 'pl' %}

            <span>PL</span>
            |
            <a href="{% block enPath %}{{ path(app.request.get('_route'),{'_locale':'en'}) }}{% endblock %}">EN</a>
        {% elseif locale == 'en' %}
            <a href="{% block plPath %}{{ path(app.request.get('_route'),{'_locale':'pl'}) }}{% endblock %}">PL</a>
            |
            <span>EN</span>
        {% endif %}
        </span>
        </div>
        <div class="nav__bars">
        </div>
    </header>

    {% block body %}{% endblock %}

    <footer class="footer">
        <div class="footer__content">
            <div class="footer__copyright">
                Copyright © 2022 Ahmed Osman
            </div>
            <div class="footer__links">
                <a href="#">{{ 'policy'|trans }}</a>
                <a href="#">{{ 'sources'|trans }}</a>
            </div>
        </div>
    </footer>
</div>
</body>
</html>
